.cart-item {
  display: flex;
  flex-direction: column; /* Image on top, details below */
  align-items: center;
  text-align: center;
  margin: 15px;
}

.cart-item-img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item-price {
  font-weight: bold;
  color: #333;
}
